<footer class="page-footer">
	<div class="container-fluid">
		<div class="page-footer-view">
			<div class="page-footer-menu">
				<div class="page-footer-menu__wrap">
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Товары по отраслям
						</a>
						<div class="page-footer-menu__list">
							<a href="#" class="page-footer-menu__link">Сельское хозяйство</a>
							<a href="#" class="page-footer-menu__link">
								Деревообрабатывающая и лесная промышленность
							</a>
							<a href="#" class="page-footer-menu__link">Мусороперерабатывающие организации</a>
							<a href="#" class="page-footer-menu__link">Дорожно-строительные организации
							</a>
							<a href="#" class="page-footer-menu__link">Транспортные организации</a>
							<a href="#" class="page-footer-menu__link">Пищевая промышленность</a>
							<a href="#" class="page-footer-menu__link">Горнодобывающая промышленность</a>
						</div>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Каталог
						</a>
						<div class="page-footer-menu__list">
							<a href="#" class="page-footer-menu__link">Прицепы</a>
							<a href="#" class="page-footer-menu__link">Полуприцепы</a>
							<a href="#" class="page-footer-menu__link">Бункеры и мультилифты</a>
						</div>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Финансирование
						</a>
						<div class="page-footer-menu__list">
							<a href="#" class="page-footer-menu__link">Лизинг в Беларуси</a>
							<a href="#" class="page-footer-menu__link">Лизинг в России</a>
						</div>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							О заводе
						</a>
						<div class="page-footer-menu__list">
							<a href="#" class="page-footer-menu__link">Новости
							</a>
							<a href="#" class="page-footer-menu__link">Информация о заводе
							</a>
							<a href="#" class="page-footer-menu__link">Политика конфиденциальности</a>
							<a href="#" class="page-footer-menu__link">Публичная оферта</a>
						</div>
					</div>
					<div class="page-footer-menu__item">
						<a href="#" class="page-footer-menu__top">
							Обслуживание
						</a>
						<div class="page-footer-menu__list">
							<a href="#" class="page-footer-menu__link">Прицепов</a>
							<a href="#" class="page-footer-menu__link">Полуприцепов</a>
							<a href="#" class="page-footer-menu__link">Спецтехники</a>
						</div>
					</div>
				</div>
				<div class="logo-bottom">
					<img src="img/svg/logo-bottom.svg" alt="">
				</div>
			</div>
			<div class="page-footer-info">
				<div class="page-footer-info__col">
					<div class="page-footer-info__view">
						<div class="page-footer-info__item">
							<div class="page-footer-menu__top">
								Отдел продаж
							</div>
							<div class="page-footer-phones">
								<div class="page-footer-phones__item">+375 (225) 72-01-03</div>
								<div class="page-footer-phones__item">+375 (225) 72-17-23</div>
								<div class="page-footer-phones__item">+375 (29) 652-00-45</div>
								<div class="page-footer-phones__item">+7 (495) 118-28-66</div>
							</div>
						</div>
						<div class="page-footer-info__item">
							<div class="page-footer-menu__top">
								Отдел закупок
							</div>
							<div class="page-footer-phones">
								<div class="page-footer-phones__item">+375 (225) 72 15 36</div>
							</div>
							<a href="#" class="page-footer-btn">Наши дилеры</a>
						</div>
						
					</div>
					
				</div>
				<div class="page-footer-info__col">
					<div class="page-footer-info__item">
						<div class="page-footer-menu__top">
							Наш адрес
						</div>
						<div class="page-footer-address">
							<div class="page-footer-address__item">
								213826, РБ, Могилевская область,
								г.Бобруйск, ул. К.Либкнехта, 6
							</div>
						</div>
						<a href="#" class="page-footer-btn">Схема проезда</a>
					</div>

					<div class="page-footer-info__item">
						<div class="page-footer-menu__top">
							Время работы
						</div>
						<div class="page-footer-info__time">
							Понедельник - пятница, с 8:00 до 18:00
						</div>
					</div>
					<div class="page-footer-info__item">
						<div class="socials">
							<a href="#" class="socials__link m-insta"></a>
							<a href="#" class="socials__link m-you"></a>
							<a href="#" class="socials__link m-tg"></a>
							<a href="#" class="socials__link m-vk"></a>
							<a href="#" class="socials__link m-tiktok"></a>
							<a href="#" class="socials__link m-linked"></a>
							<a href="#" class="socials__link m-ok"></a>
							<a href="#" class="socials__link m-fb"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-bottom-mobile">
				<img src="img/svg/logo-bottom.svg" alt="">
			</div>
		</div>
		<div class="copyright">
			<span>&copy;2021 ОАО «Спецавтотехника».</span> Сайт носит исключительно информационный характер и не является публичной офертой.
		</div>
	</div>
</footer>