<footer class="page-footer m-tech">
	<div class="container-fluid">
		<div class="page-footer-view">
			<div class="page-footer-info">
				<div class="page-footer-info__col">
                    <div class="logo-bottom f-tech-item">
						<img src="img/svg/logo-bottom.svg" alt="">
					</div>
                    <div class="page-footer-info__item f-tech-item">
                        <div class="page-footer-menu__top">
                            Отдел закупок
                        </div>
                        <div class="page-footer-phones">
                            <div class="page-footer-phones__item">+375 (225) 72 15 36</div>
                        </div>
                    </div>
					<div class="page-footer-info__item f-tech-item">
						<div class="page-footer-menu__top">
							Наш адрес
						</div>
						<div class="page-footer-address">
							<div class="page-footer-address__item">
								213826, РБ, Могилевская область,
								г.Бобруйск, ул. К.Либкнехта, 6
							</div>
						</div>
					</div>

					<div class="page-footer-info__item f-tech-item">
						<div class="page-footer-menu__top">
							Время работы
						</div>
						<div class="page-footer-info__time">
							Понедельник - пятница, с 8:00 до 18:00
						</div>
					</div>
					<div class="page-footer-info__item f-tech-item">
						<div class="socials">
							<a href="#" class="socials__link m-insta"></a>
							<a href="#" class="socials__link m-you"></a>
							<a href="#" class="socials__link m-tg"></a>
							<a href="#" class="socials__link m-vk"></a>
							<a href="#" class="socials__link m-tiktok"></a>
							<a href="#" class="socials__link m-linked"></a>
							<a href="#" class="socials__link m-ok"></a>
							<a href="#" class="socials__link m-fb"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-bottom-mobile">
				<img src="img/svg/logo-bottom.svg" alt="">
			</div>
		</div>
		<div class="copyright">
			<span>&copy;2021 ОАО «Спецавтотехника».</span> Сайт носит исключительно информационный характер и не является публичной офертой.
		</div>
	</div>
</footer>