<header class="page-header m-tech">
	<div class="page-header-view">
		<div class="container-fluid">
			<div class="top__wrap">
				<div class="top-pre">
					<a href="#" class="logo"></a>
				</div>
				<div class="top-view">
					<div class="top-phones">
                        <div class="top-phones-mobile">
                            <a href="#" class="top-phones-mobile__link"></a>
                        </div>
                        <a href="tel:+375296520045" class="top-phones__link">+375 (29) 652-00-45<span>рб</span></a>
                        <a href="tel:+74951182866" class="top-phones__link">+7 (495) 118-28-66<span>рф</span></a>
                    </div>
					<div class="top-address">
						213826, РБ, Могилевская область,<br> 
						г.Бобруйск, ул. К.Либкнехта, 6 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page__bg"></div>
</header>
