<header class="page-header">
	<div class="top">
		<div class="container-fluid">
			<div class="top__wrap">
				<div class="top-pre">
					<a href="#" class="catalog-btn js-catalog-btn">Каталог продукции</a>
				</div>
				<div class="top-info-wrap">
					<div class="top-info">
						<div class="top-search">
							<a href="#" class="top-search__link js-top-search__link"></a>
							<div class="top-search__form">
								<form action="#" method="get">
									<div class="top-search__wrap">
										<input type="text" placeholder="Поиск по сайту" class="top-search__txt">
										<input type="submit" class="top-search__submit">
									</div>
								</form>
							</div>
						</div>
						<div class="top-phones">
							<div class="top-phones-mobile">
								<a href="#" class="top-phones-mobile__link js-top-phones-mobile__link"></a>
								<div class="top-phones-mobile__list">
									<a href="tel:+375296520045" class="top-phones-mobile__item">
										+375 (29) 652-00-45<span>рб</span>
									</a>
									<a href="tel:+74951182866" class="top-phones-mobile__item">
										+7 (495) 118-28-66<span>рф</span>
									</a>
								</div>
							</div>
							<a href="tel:+375296520045" class="top-phones__link">+375 (29) 652-00-45<span>рб</span></a>
							<a href="tel:+74951182866" class="top-phones__link">+7 (495) 118-28-66<span>рф</span></a>
						</div>
					</div>
					<div class="top-links">
						<a href="#call" class="top-call js-popup-inline">Заказать звонок</a>
						<a href="#" class="top-dealer">Наши дилеры</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-catalog">
		<div class="container-fluid">
			<div class="menu-mobile">
				<a href="#" class="page-catalog-close js-page-catalog-close"></a>
				<div class="menu-mobile-list">
					<div class="menu-mobile__top">Меню</div>
					<div class="menu-mobile__item">
						<a href="#" class="menu-mobile__link m-submenu js-second-toggle">
							<span>Каталог продукции</span>
						</a>
						<!-- 2-level -->
						<div class="menu-mobile-second">
							<a href="#" class="menu-mobile__title js-back-first">Каталог продукции</a>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link m-submenu js-third-toggle">
									<span>По типу</span>
								</a>
								<!-- 3-level -->
								<div class="menu-mobile-third">
									<a href="#" class="menu-mobile__title js-back-second">По типу</a>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Прицепы</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Прицепы</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Самосвальные</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Низкорамные</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Ломовозы, трубовозы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Сельскохозяйственные прицепы</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Полуприцепы</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Полуприцепы</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Самосвальные</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Полуприцепы с подвижным полом</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Низкорамные</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Для скота и птицы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Сельскохозяйственные полуприцепы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Ломовозы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Панелевозы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Техника для лесного хозяйства</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Тележки, шасси, платформы</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Полуприцепы тентовые</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link">
											<span>Бункеры и мультилифты</span>
										</a>
									</div>
								</div>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link m-submenu js-third-toggle">
									<span>По отраслям</span>
								</a>
								<!-- 3-level -->
								<div class="menu-mobile-third">
									<a href="#" class="menu-mobile__title js-back-second">По отраслям</a>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link4</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link m-submenu js-third-toggle">
									<span>По назначению</span>
								</a>
								<!-- 3-level -->
								<div class="menu-mobile-third">
									<a href="#" class="menu-mobile__title js-back-second">По назначению</a>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link4</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
										</div>
									</div>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link m-submenu js-third-toggle">
									<span>По категориям</span>
								</a>
								<!-- 3-level -->
								<div class="menu-mobile-third">
									<a href="#" class="menu-mobile__title js-back-second">По категориям</a>
									<div class="menu-mobile__item">
										<a href="#" class="menu-mobile__link m-submenu js-fourth-toggle">
											<span>Title 2</span>
										</a>
										<!-- 4-level -->
										<div class="menu-mobile-fourth">
											<a href="#" class="menu-mobile__title js-back-third">Title 2</a>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link1</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link2</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link3</span>
												</a>
											</div>
											<div class="menu-mobile__item">
												<a href="#" class="menu-mobile__link">
													<span>Link4</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="menu-mobile__item">
						<a href="#" class="menu-mobile__link m-submenu js-second-toggle">
							<span>Ремонт и обслуживание</span>
						</a>
						<!-- 2-level -->
						<div class="menu-mobile-second">
							<a href="#" class="menu-mobile__title js-back-first">Ремонт и обслуживание</a>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Новости</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Информация о заводе</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Политика конфиденциальности</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Публичная оферта</span>
								</a>
							</div>
						</div>
					</div>

					<div class="menu-mobile__item">
						<a href="#" class="menu-mobile__link m-submenu js-second-toggle">
							<span>Финансирование</span>
						</a>
						<!-- 2-level -->
						<div class="menu-mobile-second">
							<a href="#" class="menu-mobile__title js-back-first">Финансирование</a>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Новости</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Информация о заводе</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Политика конфиденциальности</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Публичная оферта</span>
								</a>
							</div>
						</div>
					</div>

					<div class="menu-mobile__item">
						<a href="#" class="menu-mobile__link m-submenu js-second-toggle">
							<span>О заводе</span>
						</a>
						<!-- 2-level -->
						<div class="menu-mobile-second">
							<a href="#" class="menu-mobile__title js-back-first">О заводе</a>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Новости</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Информация о заводе</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Политика конфиденциальности</span>
								</a>
							</div>
							<div class="menu-mobile__item">
								<a href="#" class="menu-mobile__link">
									<span>Публичная оферта</span>
								</a>
							</div>
						</div>
					</div>

					
					

					<div class="menu-mobile__item">
						<a href="#" class="menu-mobile__link">
							<span>Контакты</span>
						</a>
					</div>
				</div>
			</div>
			<div class="page-catalog__wrap">
				<a href="#" class="page-catalog-close js-page-catalog-close"></a>
				<div class="page-catalog-select">
					<div class="page-catalog-item">
						<a href="#" class="page-catalog-link m-active js-page-catalog-link" data-view="1">
							<span>По типу</span>
						</a>
					</div>
					<div class="page-catalog-item">
						<a href="#" class="page-catalog-link js-page-catalog-link" data-view="2">
							<span>По отраслям</span>
						</a>
					</div>
					<div class="page-catalog-item">
						<a href="#" class="page-catalog-link js-page-catalog-link" data-view="3">
							<span>По назначению</span>
						</a>
					</div>
					<div class="page-catalog-item">
						<a href="#" class="page-catalog-link js-page-catalog-link" data-view="4">
							<span>По категориям</span>
						</a>
					</div>
				</div>
				<div class="page-catalog-view">
					<div class="page-catalog-view__item" id="view1">
						<div class="page-catalog-view__list">
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Прицепы</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Самосвальные</span></a>
								<a href="#" class="page-catalog-view__link"><span>Низкорамные</span></a>
								<a href="#" class="page-catalog-view__link"><span>Ломовозы, трубовозы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Сельскохозяйственные прицепы</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Полуприцепы</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Самосвальные</span></a>
								<a href="#" class="page-catalog-view__link"><span>Полуприцепы с подвижным полом</span></a>
								<a href="#" class="page-catalog-view__link"><span>Низкорамные</span></a>
								<a href="#" class="page-catalog-view__link"><span>Для скота и птицы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Сельскохозяйственные полуприцепы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Ломовозы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Панелевозы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Техника для лесного хозяйства</span></a>
								<a href="#" class="page-catalog-view__link"><span>Тележки, шасси, платформы</span></a>
								<a href="#" class="page-catalog-view__link"><span>Полуприцепы тентовые</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Бункеры и мультилифты</span>
								</a>
							</div>
						</div>
					</div>
					<div class="page-catalog-view__item dnone" id="view2">
						<div class="page-catalog-view__list">
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link4</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
							</div>
						</div>
					</div>
					<div class="page-catalog-view__item dnone" id="view3">
						<div class="page-catalog-view__list">
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link4</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
							</div>
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>Title 2</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
							</div>
						</div>
					</div>
					<div class="page-catalog-view__item dnone" id="view4">
						<div class="page-catalog-view__list">
							<div class="page-catalog-view__col">
								<a href="#" class="page-catalog-view__top">
									<span>По категориям 1</span>
								</a>
								<a href="#" class="page-catalog-view__link"><span>Link1</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link2</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link3</span></a>
								<a href="#" class="page-catalog-view__link"><span>Link4</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header-view">
		<div class="container-fluid">
			<div class="top__wrap">
				<div class="top-pre">
					<a href="#" class="logo"></a>
				</div>
				<div class="top-view">
					<div class="top-menu">
						<div class="top-menu__item m-submenu">
							<a href="#" class="top-menu__link">Ремонт и обслуживание</a>
							<div class="submenu-list">
								<a href="#" class="submenu-link">Новости</a>
								<a href="#" class="submenu-link">Информация о заводе</a>
								<a href="#" class="submenu-link">Политика конфиденциальности</a>
								<a href="#" class="submenu-link">Публичная оферта</a>
							</div>
						</div>
						<div class="top-menu__item m-submenu">
							<a href="#" class="top-menu__link">Финансирование</a>
							<div class="submenu-list">
								<a href="#" class="submenu-link">Новости</a>
								<a href="#" class="submenu-link">Информация о заводе</a>
								<a href="#" class="submenu-link">Политика конфиденциальности</a>
								<a href="#" class="submenu-link">Публичная оферта</a>
							</div>
						</div>
						<div class="top-menu__item m-submenu">
							<a href="#" class="top-menu__link">О заводе</a>
							<div class="submenu-list">
								<a href="#" class="submenu-link">Новости</a>
								<a href="#" class="submenu-link">Информация о заводе</a>
								<a href="#" class="submenu-link">Политика конфиденциальности</a>
								<a href="#" class="submenu-link">Публичная оферта</a>
							</div>
						</div>
						<div class="top-menu__item">
							<a href="#" class="top-menu__link">Контакты</a>
							<div class="submenu-list">
								<a href="#" class="submenu-link">Новости</a>
								<a href="#" class="submenu-link">Информация о заводе</a>
								<a href="#" class="submenu-link">Политика конфиденциальности</a>
								<a href="#" class="submenu-link">Публичная оферта</a>
							</div>
						</div>
					</div>
					<div class="top-address">
						213826, РБ, Могилевская область,<br> 
						г.Бобруйск, ул. К.Либкнехта, 6 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page__bg"></div>
</header>
