.workarea,
.popup{
	line-height: 1.8;
	h1{
		margin: 0;
		margin-bottom: 20px;
		font-size: 48px;
		line-height: 1.2;
		font-weight: normal;
		font-family: 'Russo One', sans-serif;
	}
	h2{
		margin: 0 0 50px 0;
		// padding-bottom: 50px;
		font-size: 40px;
		line-height: 1.2;
		font-weight: normal;
		font-family: 'Russo One', sans-serif;
		position: relative;
		// border-bottom: 1px solid #BDBDBD;
		// &:after{
		// 	content: "";
		// 	display: inline-block;
		// 	width: 98.5px;
		// 	height: 4px;
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -2px;
		// 	background: #828282;
		// }
	}
	h3{
	    margin: 0;
	    margin-bottom: 50px;
	    font-weight: normal;
	    font-size: 30px;
	    line-height: 1.2;
	    font-family: 'Russo One', sans-serif;
	}
	h4{
	    margin: 0;
	    margin-bottom: 24px;
	    font-weight: 700;
	    font-size: 24px;
	    line-height: 1.2;
	    // font-family: 'Russo One', sans-serif;
	}
	h5{
	    margin: 0;
	    margin-bottom: 20px;
	    font-weight: normal;
	    font-size: 18px;
	    line-height: 1.2;
	    //font-family: 'tt_normsbold';
	}
	h6{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 16px;
	    line-height: 1.2;
	    font-family: 'Russo One', sans-serif;
	}
	p{
		margin: 0;
		margin-bottom: 18px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #333333;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		font-size: 16px;
		padding: 8px 40px 8px 20px;
            height: 50px;
		font-weight: 300;
		background: #F2F2F3;
	}
	textarea{
		display: block;
		width: 100%;
		border:0;
		border-radius: 20px;
		min-height: 154px;
		resize: vertical;
		font-size: 16px;
    	padding: 20px;
		color: #333333;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		font-weight: 300;
		background: #F2F2F3;
	}
	input[type="submit"]{
		display: inline-block;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
		background: #F2994A;
		box-shadow: 0px 16px 40px -17px rgba(190, 90, 1, 0.5);
		border-radius: 3px;
		padding: 16px 50px;
		border:0;
		transition: all .3s ease;
		&:hover{
			background: #EE780F;
		}
		&:active{
			background: #DA6803;
		}
	}

	ol{
		list-style-type: none;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		counter-reset: item;
		// font-weight: 400;
		>li{
			padding-left: 38px;
			position: relative;
			margin-bottom: 13px;
			counter-increment: item;
			&:before{
				content: "0" counters(item, "..");
				position: absolute;
				left: 0;
				top: 1px;
				color: #F2994A;
				font-size: 18px;
			}
			ol{
				margin: 13px 0 0 0;
				>li{
					padding-left: 47px;
					&:before{
						content: "0" counters(item, ".");
					}
				}
			}
		}
	}
	ul{
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		// font-weight: 400;
		li{
			list-style-type: none;
			padding-left: 38px;
			position: relative;
			margin-bottom: 13px;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 12px;
				border: 2px solid #F2994A;
				width: 8px;
				height: 8px;
				border-radius: 50%;
			}
			ul{
				margin: 13px 0 0 0;
			}
		}
	}
	table{
		width: 100%;
    	min-width: 576px;
    	margin-bottom: 20px;
    	//table-layout: fixed;
		border-collapse: separate;
	}
	tr{
		&:nth-child(even){
			td{
				background-color: #F2F2F3;
			}
		}
	}
	td{
		padding: 20px 29px;
		line-height: 1.2;
		font-size: 16px;
		&:first-child{
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	th{
		text-align: left;
		font-weight: normal;
		color: #4F4F4F;
		padding: 25px 29px;
		border: 1px solid #828282;
		font-weight: 400;;
		font-size: 16px;
		line-height: 1.2;
		border-right: 0;
		&:first-child{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child{
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-right: 1px solid #828282;
		}
	}
	blockquote{
		display: block;
	    font-size: 24px;
	    color: #7A1774;
	    text-align: center;
	    max-width: 700px;
	    margin: 25px auto;
	    padding: 25px 0;
	    position: relative;
		&:before{
			content: "";
			display: block;
			width: 400px;
			height: 1px;
			background: #E3E0EB;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
		} 
		&:after{
			content: "";
			display: block;
			width: 400px;
			height: 1px;
			background: #E3E0EB;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		} 
	}
	strong{
		font-weight: normal;
		//font-family: 'tt_normsbold';
	}
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		    padding-left: 40px;
		display: inline-block;
		font-size: 14px;
		line-height: 1.2;
	}
	input[type="checkbox"] + label{
		color: #4F4F4F;
		a{
			color: #4F4F4F;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}


	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -2px;
		background: #FFFFFF;
		border: 0.5px solid #828282;
		box-shadow: 0px 9px 16px rgba(20, 99, 167, 0.05);
		border-radius: 2px;
		z-index: 5;
		width: 20px;
		height: 20px;
		transition: all .3s ease;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url(../img/svg/check.svg) center no-repeat;
		width: 11px;
		height: 8px;
		display: inline-block;
		position: absolute;
		top: 4px;
    	left: 5px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
}


.indent{
	padding-left: 240px;
}
.highlighted{
	color: #FFAF17;
}

.c-centered{
	max-width: 975px;
}

.table-wrap{
    overflow-x: auto;
    width: 100%;
    margin: 0 0 60px;
    table{
        margin-bottom: 0;
    }
	&::-webkit-scrollbar {
		height: 5px;
	   	width: 1px;
   	}
	
   	&::-webkit-scrollbar-track {
	   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	   border-radius: 20px;
	   background: #fff;
   	}
	
   	&::-webkit-scrollbar-thumb {
	   border-radius: 20px;
	   background: #FFAF17;
   	}
}